fieldset{
    width:80%;
    margin-left:90px;
    background-color:rgb(99, 130, 131);
    float:center;
    padding-top:10px;
    
}
body{
    background-color:aquamarine;
}
.font{
    color:rgb(222, 254, 247);
}
.input{
    text-align: center;
    color: rgb(222, 254, 247);
}
p{
    color:rgb(222, 254, 247);
}
footer{
    background-color:blanchedalmond;
    padding-top: 30px;
    padding-bottom: 30px;
}
button{
    color:whitesmoke;
    background-color: rgb(64, 64, 193);
    block-size:100;
}
